@media screen and (max-width: 480px) {

    .about-header {
        border-radius: 0;
        min-width: 100%;
        margin: auto;
    }

    .active {
        border-bottom: 1px solid black;
    }

    .brass-header {
        text-align: center;
    }

    .flex-footer {
        position: relative;
        top: 100px;
    }

    .flex-footer div  {
        min-width: 100%;
        text-align: center;
        margin-bottom: 20px;
        
        p {
            font-size: 1em;
        }
    }

    iframe {
        max-width: 95%;
    }

    .navbar a {
        margin-right: 0;
    }

    .about-us-img {
        display: none;
    }

    .background-square {
        max-height: 100px;
        min-height: 80px;
    }

    .about {
        top: 40px;
        font-size: 1.25em;
    }

    .lessons {
        top: 80px;

        .lesson-box {
            min-width: 80%;
            padding: 15px;
            margin: 10px auto 10px auto;
        }
    }

    .lesson-pricing {
        min-width: 95%;
        top: 100px;
        margin: auto;
        padding: 15px;

        .lesson-price {
            min-width: 100%;
            margin: auto;

            ul {
                position: relative;
                left: 20px;
            }

            p {
                font-size: 1em;
            }

            img {
                max-width: 95%;
                
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .about-header {
        border-radius: 0;
        min-width: 100%;
        margin: auto;
    }

    .about-us-img {
        bottom: 40%;
        height: 350px;
    }

    .about {
        top: 150px;
    }

    .lessons {
        top: 180px;
    }

    .lesson-box {
        min-width: 45%;
    }

    .lesson-pricing {
        top: 225px;
        margin: auto;

        .lesson-price {
            min-width: 95%;
            margin: auto;

            img, p {
                text-align: center;
            }

            ul {
                margin-left: 25px;
            }
    
            img {
                min-width: 100%;
            }
        }
    }

    .flex-footer {
        position: relative;
        top: 250px;
    }



    .flex-footer div  {
        min-width: 40%;
        text-align: center;
        margin-bottom: 20px;
        
        p {
            font-size: 1.2em;
        }
    }

    iframe {
        max-width: 95%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .flex-footer {
        position: relative;
        top: 300px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1370px) {
    .about-header {
        min-width: 95%;
        margin:  10px auto;
    }

    .about-us-img {
        bottom: 50%;
    }

    .lesson-pricing {

        .lesson-price {
            min-width: 35%;
        }

    }

    .flex-footer div  {
        min-width: 40%;
        text-align: center;
        margin-bottom: 20px;
        
        p {
            font-size: 1.3em;
        }
    }

    iframe {
        max-width: 95%;
    }
}