$main-blue: rgba(108,204,252,1);

.form-container {
    max-width: 95%;
    margin: 30px auto;

    h1 {
        font-family: 'Nerko One', cursive, Arial, Helvetica, sans-serif;
        font-size: 2.5em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    h2, h3 {
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    form {
        background-color:#eeeeee;
        border: 2px solid darkgray;
        padding: 15px;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

input[type=text], input[type=password] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(114, 114, 114);
    margin-top: 6px;
    margin-bottom: 15px;
    resize: none;
}

input:focus {
    box-shadow: 0px 0px 6px 2px $main-blue;
}

textarea:focus {
    box-shadow: 0px 0px 6px 2px $main-blue;
}

button {
    background-color: $main-blue;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Sigmar One", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

button:hover {
    color: white;
}

.errMsg {
    color: red;
    text-align: center;
    font-size: 1.5em;
}

.displayMessage {
    text-align: center;
    margin: 15px auto 15px auto;
}

.adminFunctions {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color:#eeeeee;
    border: 2px solid darkgray;
    font-family: Arial, Helvetica, sans-serif;

    p {
        margin: 15px;
    }
}

.flex-footer {
    top: 100px;
}